/*Bordes y color de fondo de calculadora*/
.calculadora { 
     border: 3px rgb(203, 226, 212) ridge;
      width: 250px;
      text-align: center;
    background: #e69808; 
    padding: 0 25px 0 25px;
}

/*Pantalla:bordes, posicion, color de fondo y estilo de letra*/
#textoPantalla {
    width: 180px;
    border: 2px black solid;
    text-align: right; 
    position: relative;
    left: 23px; 
    padding: 0px 5px;
    background-color: white;
    font-family:  'Times New Roman'; 
    overflow: hidden;
}

/*Botones normales: anchura y margen*/
.calculadora [type=button] {
     width: 45px;
     height: 55px;
     background: rgb(236, 230, 171);
}

/*Botones especiales*/
.calculadora input.largo {
     color: red; 
     width: 50px; 
     height: 50px;
}

